@use 'styles/reset';
@use 'styles/css-root-variables';

html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body, app-root, app-welcome {
	display: block;
	width: 100%;
	height: 100%;
}

.clickable {
	cursor: pointer;
}
