@import 'src/variables';

#main-row {
  height: 100%;
}

#main-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 14px;
}

#side-nav {
  width: 70px;
  height: 100%;
  background-color: $p;
  padding: 0px;
  box-shadow: 2px 0 9px 2px #e6e6e6;
}

#side-nav a {
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  color: #fff;
  transition: background-color 0.15s;
}

#side-nav a:hover {
  background-color: $p-light;
}

#side-nav a.active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
