<div class="row no-gutters">
  <div id="title" class="col">
    <h1 class="main-title">Add items</h1>
  </div>

  <div id="save-items" class="col">
    <button type="button" class="btn btn-primary" [disabled]="addedItems.length == 0" (click)="saveItems()">Save</button>
  </div>
</div>

<div class="content">
  <form [formGroup]="addForm" (ngSubmit)="addItem()" (keydown.enter)="handleKeydownEnter($event)">
    <div class="row no-gutters form-row">
      <div class="form-control-wrapper col">
        <h3 class="form-label">Pick a date:</h3>

        <div class="input-group add-form-control">
          <input type="text" class="form-control" id="date-input" name="date"
            bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" formControlName="date" #date>

          <div class="input-group-btn">
            <button class="btn btn-primary" (click)="dp.show();">Date</button>
          </div>
        </div>
      </div>

      <div class="form-control-wrapper col">
        <h3 class="form-label">Category</h3>

        <select class="form-control form-select add-form-control" formControlName="category">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>

      <div class="form-control-wrapper col">
        <h3 class="form-label">Label</h3>

        <select class="form-control form-select add-form-control" formControlName="label">
          <option *ngFor="let label of labels" [value]="label">{{ label }}</option>
        </select>
      </div>

      <div class="form-control-wrapper col">
        <h3 class="form-label">Tags</h3>

        <select class="form-control form-select add-form-control" formControlName="tags">
          <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
        </select>
      </div>
    </div>

    <div id="add-item">
      <div class="row no-gutters">
        <h3 class="col form-label">Add item:</h3>
      </div>

      <div class="row no-gutters form-inline">
        <div class="add-form-group">
          <input type="text" class="form-control add-form-control add-input" id="name-input" placeholder="Name" formControlName="name" autofocus #nameInput>
        </div>
        <div class="add-form-group">
          <input type="text" class="form-control add-form-control add-input" id="price-input" placeholder="Price" formControlName="price" #priceInput>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="addForm.invalid">Add</button>
      </div>
    </div>
  </form>

  <div class="row no-gutters">
    <table *ngIf="addedItems.length > 0" class="table table-striped" id="added-items">
      <caption>Added items</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Label</th>
          <th scope="col">Tags</th>
          <th scope="col">Date</th>
          <th scope="col">Date created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of addedItems; let addedItemIndex = index">
          <th scope="row">{{ addedItemIndex }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.label }}</td>
          <td>{{ item.tags }}</td>
          <td>{{ item.date | date:'dd.MM.yyyy' }}</td>
          <td>{{ item.dateCreated | date:'dd.MM.yyyy H:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
