/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* CSS RESET */
body{
	margin: 0px;
	padding: 0px;
}
/* END OF CSS RESET */

.main-content{
	height: 900px;
	background-color: #ffffff;
}
