<div class="main-content">
	<div class="section-wrapper">
		<md-table #table [dataSource]="dataSource">
			<ng-container mdColumnDef="food">
				<md-header-cell *mdHeaderCellDef> Food </md-header-cell>
				<md-cell *mdCellDef="let element"> {{element.food}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="electricity">
				<md-header-cell *mdHeaderCellDef> Electricity </md-header-cell>
				<md-cell *mdCellDef="let element"> {{element.electricity}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="water">
				<md-header-cell *mdHeaderCellDef> Water </md-header-cell>
				<md-cell *mdCellDef="let element"> {{element.water}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="internet">
				<md-header-cell *mdHeaderCellDef> Internet </md-header-cell>
				<md-cell *mdCellDef="let element"> {{element.internet}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="tv">
				<md-header-cell *mdHeaderCellDef> TV </md-header-cell>
				<md-cell *mdCellDef="let element"> {{element.tv}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="other">
				<md-header-cell *mdHeaderCellDef> Other </md-header-cell>
				<md-cell *mdCellDef="let element"> {{element.other}} </md-cell>
			</ng-container>

			<md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
			<md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
		</md-table>
	</div>
</div>
