<div id="page-wrapper">
  <div id="home-screen" class="row no-gutters" *ngIf="homeScreen">
    <div id="home-screen-left-section" class="col-4">
      <ul class="list">
        <li class="clickable-list-item"><a (click)="openFile()">Open file</a></li>
        <li class="clickable-list-item"><a>Create new file</a></li>
        <li class="seperator"></li>
        <li><a>Recent files:</a></li>
        <ul class="list second-lever-list">
          <li class="clickable-list-item" *ngFor="let recentFile of recentFiles"><a>{{ recentFile }}</a></li>
        </ul>
      </ul>
    </div>

    <div id="home-screen-right-section" class="col-8">
      <p>Donate</p>
    </div>
  </div>
  <div id="main-row" class="row no-gutters" *ngIf="!homeScreen">
    <div class="nav flex-column nav-pills col-1" id="side-nav" role="tablist" aria-orientation="vertical">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #homeEl="routerLinkActive">
        <img src="assets/icons/home-{{ homeEl.isActive ? 'p' : 'white' }}.svg" width="32" height="32" alt="">
      </a>
      <a class="nav-link" routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #addEl="routerLinkActive">
        <img src="assets/icons/plus-{{ addEl.isActive ? 'p' : 'white' }}.svg" width="32" height="32" alt="">
      </a>
      <a class="nav-link" routerLink="/statistics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #statsEl="routerLinkActive">
        <img src="assets/icons/stats-{{ statsEl.isActive ? 'p' : 'white' }}.svg" width="32" height="32" alt="">
      </a>
    </div>

    <div id="main-content" class="col-11">
      <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
    </div>
  </div>
</div>
