@import '../variables.scss';

#page-wrapper {
  width: 100%;
  height: 100vh;
}

#home-screen {
  width: 100%;
  height: 100%;
  padding: 100px 70px;
  background-color: $p;
  color: $p-text;
}

#home-screen-left-section {
  padding-left: 10px;
  border-right: 1px solid white;
}

.list {
  list-style-type: none;

  li {
    margin-bottom: 4px;
    height: 25px;
    margin-right: 10px;
  }

  li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  li.clickable-list-item {
    box-sizing: border-box;
    cursor: pointer;
  }

  li.clickable-list-item:hover {
    border-bottom: 1px solid #fff;
  }

  li.seperator {
    display: block;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 6px;
    margin-right: 10px;
    background-color: #fff;
  }
}

.second-lever-list {
  margin-top: 5px;
  padding-left: 20px;
}

#home-screen-right-section {
  padding-left: 10px;
}

#main-row {
  height: 100%;
}

#main-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 14px;
}

#side-nav {
  width: 70px;
  height: 100%;
  background-color: $p;
  padding: 0px;
}

#side-nav a {
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  color: #fff;
  transition: background-color 0.15s;
}

#side-nav a:hover {
  background-color: $p-light;
}

#side-nav a.active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
