<div id="page-wrapper">
  <div id="main-row" class="row no-gutters">
    <ul id="side-nav" class="nav nav-pills nav-stacked col-xs-1">
      <li role="presentation" class="active" (click)="setActive(navHome, [navAdd, navStatistics])" #navHome><a routerLink="/">Home</a></li>
      <li role="presentation" (click)="setActive(navAdd, [navHome, navStatistics])" #navAdd><a routerLink="/add" >Add</a></li>
      <li role="presentation" (click)="setActive(navStatistics, [navHome, navAdd])" #navStatistics><a routerLink="/statistics">Statistics</a></li>
    </ul>

    <div id="main-content" class="col-xs-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
