@import '../variables.scss';

#page-wrapper {
  width: 1386px;
  height: 768px;
}

#home-screen {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  background-color: $p;
  color: $p-text;
}

#home-screen-left-section {
  padding-left: 10px;
  border-right: 1px solid white;
}

#home-screen-left-section p {
  margin-bottom: 5px;
}

#home-screen-left-section p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#home-screen-right-section {
  padding-left: 10px;
}

#main-row {
  height: 100%;
}

#main-content {
  padding-left: 30px;
  padding-top: 14px;
}

#side-nav {
  height: 100%;
  background-color: $p;
  padding: 0px;
}

#side-nav a {
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  color: #fff;
  transition: background-color 0.15s;
}

#side-nav a:hover {
  background-color: $p-light;
}

#side-nav a.active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
