<h1 id="header">Finance Manager</h1>

<div id="wrapper">
  <div id="section-wrapper">
    <div id="left-section" class="section-item">
      <ul class="list">
        <li class="list-item clickable" id="open-file" (click)="openFile()">Open file</li>
        <li class="list-item clickable">Create new file</li>
        <li class="separator horizontal"></li>
        <li class="list-item">Recent files:</li>
        <ul class="list second-lever-list" id="recent-files-list">
          <li class="list-item clickable" *ngFor="let recentFile of recentFiles">
            <div class="list-item-file-name">{{ recentFile.name }}</div>
            <div class="list-item-file-full-path">{{ recentFile.fullPath }}</div>
          </li>
        </ul>
      </ul>
    </div>

    <div class="separator vertical"></div>

    <div id="right-section" class="section-item">
      <p>Donate</p>
    </div>
  </div>
</div>
